
@{
    ViewData["Title"] = "About";
}

<h1>Sobre</h1>

<!-- Icon Divider-->
<div class="divider-custom divider-light">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
</div>

<!-- About Section Content-->
<div class="rowAbout">
    <div class="my-auto"><p class="lead">Este projeto foi desenvolvido para a unidade curricular de programação para a internet e o seu objetivo era aplicar os conhecimentos obitdos nas aulas e desenvolver um website.</p></div>
</div>



