@{
    ViewData["Title"] = "Home Page";
}

<div class="rowHome">
    <h1 class="display-4">Nunca foi tão facil gerir os seus projectos!</h1>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 d-flex">
    <div class="col">
        <div class="card h-100">
            <img src="~/img/projs.png" class="card-img-top" alt=""  >
            <div class="card-body">
                <h5 class="card-title">Gestão Projectos</h5>
                <p class="card-text">Aqui é possivel gerir os seus projectos. <br />Criar, editar ou apagar projectos.</p>
            </div>
            <div class="card-footer">
                <a asp-controller="Projects" asp-action="Index" class="btn btn-dark">Gerir projectos</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/img/clients.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Gestão Clientes</h5>
                <p class="card-text">Aqui é possivel gerir clientes.</p>
            </div>
            <div class="card-footer">
                <a asp-controller="Clients" asp-action="Index" class="btn btn-dark">Gerir clientes</a>
            </div>     
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/img/soft.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Gestão SoftwareRequirements</h5>
                <p class="card-text">Aqui é possivel gerir SoftwareRequirements.</p>
            </div>
            <div class="card-footer">
                <a asp-controller="SoftwareRequirements" asp-action="Index" class="btn btn-dark">SoftwareRequirements</a>
            </div>
        </div>
    </div>
</div>
