@{
    ViewData["Title"] = "Home Page";
}
<style>

    body {
        background-color: lightslategrey
    }
</style>

<h3 class="display-4"> Nunca foi tão facil gerir os seus projectos!</h3>
<br>

<div class="row row-cols-1 row-cols-sm-3 g-4 d-flex">
    <div class="col">
        <div class="card h-100">
            <img src="~/img/projs.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"> Gestão Projectos</h5>
                <p class="card-text">Esta área é dedicada<br>aos projetos desenvolvidos<br>ou em desenvolvimento.</p>
            </div>
            <div class="card-footer">
                @if (User.IsInRole("gestor_projecto"))
                {
                    <a asp-controller="Projects" asp-action="Index" class="btn btn-dark"> Gerir projectos</a>
                }
                </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/img/clients.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"> Gestão Clientes</h5>
                <p class="card-text">Esta área é dedicada<br>aos clientes<br>que confiam em nós<br>para a gestão dos seus projetos.</p>
            </div>
            <div class="card-footer">
                @if (User.IsInRole("gestor_projecto"))
                {
                    <a asp-controller="Clients" asp-action="Index" class="btn btn-dark"> Gerir clientes</a>
                }
                </div>
        </div>
            </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/img/team.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"> Gestão Colaboradores</h5>
                <p class="card-text"> Aqui é possivel gerir<br>a equipa de colaboradores<br>que trabalham nos projetos.</p>
            </div>
            <div class="card-footer">
                <a asp-controller="Collaborators" asp-action="Index" class="btn btn-dark"> Gerir Colaboradores</a>
            </div>
        </div>
    </div>
</div>
