@{
    ViewData["Title"] = "Home Page";
}

<div class="rowHome">
    <h1 class="display-4">Bem vindo</h1>
</div>

<div class="text-center">
    <a asp-controller="Projects" asp-action="Index" class="btn btn-dark">Projectos</a>
    <a asp-controller="Clients" asp-action="Index" class="btn btn-dark">Clientes</a>
    <a asp-controller="SoftwareRequirements" asp-action="Index" class="btn btn-dark">SoftwareRequirements</a>
</div>


