@model Gestao_Software.Models.Project

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h5>Projecto</h5>


<br />

<dl class="row">
    <dt class="col-2">
        Nome
    </dt>
    <dd class="col-xl-2">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-2">
        Data Inicial
    </dt>
    <dd class="col-xl-2">
        @Html.DisplayFor(model => model.BeginDate)
    </dd>
    <dt class="col-2">
        Data Final
    </dt>
    <dd class="col-xl-2">
        @Html.DisplayFor(model => model.EndDate)
    </dd>
    <dt class="col-2">
        Cliente
    </dt>
    <dd class="col-xl-2">
        @Html.DisplayFor(model => model.Client.Name)
    </dd>
</dl>


    <form asp-action="Delete">
        <input type="hidden" asp-for="ProjectId" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
    </form>

    <br />

    <div>
        <a asp-action="Index" class="btn btn-secondary btn-sm">&laquo; Voltar &raquo;</a>
    </div>

