@model IEnumerable<Gestao_Software.Models.Collaborator>

@{
    ViewData["Title"] = "Index";
}

<h1>Colaboradores</h1>
<hr>

<div class="input-group">
    <div class="form-outline mb-4">
            @if (User.IsInRole("gestor_projecto"))
            {
                <a asp-action="Create" class="btn btn-dark">Adicionar Colaborador</a>
            }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <h5>Colaborador</h5>
            </th>
            <th>
                <h5>Função</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcao)
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Divider-->
<div class="divider-custom divider-light">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-line"></div>
    <div class="divider-custom-line"></div>
</div>

<div>
    <a asp-controller="Projects" asp-action="Index" class="btn btn-secondary btn-sm">&laquo; Voltar &raquo;</a>
</div>


