@model IEnumerable<Gestao_Software.Models.Collaborator>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Colaboradores</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <h5>Colaborador</h5>
            </th>
            <th>
                <h5>Projeto</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CollaboratorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CollaboratorId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
